
.body{

background: #F5F5F5;
}

.d{
   border: 2px solid rgb(75, 70, 74);
            border-radius: 5%;
            
            background: #D6E6F2;
            align-items: center;
            justify-content: center;
            margin: 0 500px 0 500px ;
            font-family: Georgia, serif;
    
}

.f{
     display: block;
     margin-top: 20px;
     margin-left: 5px;
}

.d1{
    margin-top: 40px;
    margin-bottom: 2em;
}
.h1{
    text-align: center;
    margin-right: 20px;
    font-family: 'Blaka', cursive;
    color: #303841;
}
.btn{
    margin-left: 5px;
    border-radius: 5px;
    background: #303841;
    color: white;
}
